<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzj.schoolrun.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pzj.schoolrun.entity.Orders">
        <id column="order_id" property="orderId" />
        <result column="task_id" property="taskId" />
        <result column="courier_id" property="courierId" />
        <result column="order_status" property="orderStatus" />
        <result column="accept_time" property="acceptTime" />
        <result column="completion_time" property="completionTime" />
        <result column="cancel_time" property="cancelTime" />
        <result column="cancel_reason" property="cancelReason" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="getAllOrders" resultType="com.pzj.schoolrun.model.dto.orders.OrderDetailDTO">
        SELECT
            o.order_id as orderId,
            o.order_status as orderStatus,
            o.accept_time as acceptTime,
            o.completion_time as completionTime,
            t.task_id as taskId,
            t.title AS taskTitle,
            t.description AS taskDescription,
            t.pickup_location as pickupLocation,
            t.delivery_location as deliveryLocation,
            t.deadline,
            t.status AS taskStatus,
            u.user_id AS customerId,
            u.username AS customerName,
            u.phone AS customerPhone,
            u.avatar_url as courierAvatarUrl
        FROM
            orders o
                JOIN
            tasks t ON o.task_id = t.task_id
                JOIN
            users u ON t.user_id = u.user_id
                JOIN
            couriers c ON o.courier_id = c.courier_id
                JOIN
            users u2 ON c.user_id = u2.user_id
        <where>
            <if test="userId != null">
                AND u2.user_id = #{userId}
            </if>
            <if test="orderStatus != null and orderStatus != 0">
                AND o.order_status = #{orderStatus}
            </if>
        </where>
    </select>
</mapper>
